body {
	overflow-x: hidden;
	background-color: #222;
	color: #eee;
	font-size: calc(12px + 0.75vw);
	font-family: "Literata", serif; 
	margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bree Serif", serif;
	margin: 0 0 1.5em 0;
	text-transform: uppercase;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

h1 { 
	font-size: 1.69em; 
	line-height: calc(18px + 0.7em);
}
h2 { font-size: 1.616em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }
p, a { 
	font-size: 1em; 
	margin: 0 0 1.5em 0;
	letter-spacing: -0.002em;
}
small { font-size: 0.769em; }
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
code {
  background-color: #444;
  padding: 5px;
  border-radius: 5px;
}

/* HEADER */

header {
  margin: 1em 5vw;
}

#title {
  margin: 0;
}

#instructions {
  color: #aaa;
}

/* INPUT */

#input {
  width: 45vw;
}

#input-textarea {
  width: 95%;
  height: 75vh;
  border: none;
  background-color: #444;
  resize: none;
  caret-color: #eee;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}
#input-textarea:focus {
  outline: none;
}

/* OUTPUT */

#output {
  width: 45vw;
  height: 75vh;
  overflow-y: auto;
}

/* BUTTONS */

.btn {
	font-family: "Bree Serif", serif;
  color: inherit;
	font-size: 1.243em; 
	text-transform: uppercase;
	background-color: transparent;
	border: solid 2px #eee;
	border-radius: 2px;
	padding: 0.5em 1.5em;

  position: absolute;
  top: 1em;
  right: 5vw;
}
.btn:hover, 
.btn:focus {
	cursor: pointer;
	background-color: #D89F31;
}

/* FOOTER */


footer {
  position: fixed; 
  bottom: 0;
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5vw;
  color: #aaa;
}
footer a {
  color: inherit;
}
.footer-social-logo {
  margin-left: 0.5em;
}

@media only screen and (max-width: 800px) {
  body {
    overflow-y: auto;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
#input,
#output {
  width: 90vw;
}
.btn {
  display: none;
}

}
