body {
	overflow-x: hidden;
	background-color: #222;
	color: #eee;
	font-size: calc(12px + 0.75vw);
	font-family: "Literata", serif; 
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Bree Serif", serif;
	margin: 0 0 1.5em 0;
	text-transform: uppercase;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

h1 { 
	font-size: 1.69em; 
	line-height: calc(18px + 0.7em);
}
h2 { font-size: 1.616em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.243em; }
h6 { font-size: 1.132em; }
p, a { 
	font-size: 1em; 
	margin: 0 0 1.5em 0;
	letter-spacing: -0.002em;
}
small { font-size: 0.769em; }
.flex-container-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

/* INPUT */

#input {
  width: 45vw;
}

#input-textarea {
  width: 95%;
  min-height: 80vh;
  border: none;
  background-color: #444;
  resize: none;
  caret-color: #eee;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
}
#input-textarea:focus {
  outline: none;
}

/* OUTPUT */

#output {
  width: 45vw;
}

/* BUTTONS */

.btn {
	font-family: "Bree Serif", serif;
  color: inherit;
	font-size: 1.243em; 
	text-transform: uppercase;
	background-color: transparent;
	border: solid 2px #eee;
	border-radius: 2px;
	padding: 0.5em 3em;
}
.btn:hover, 
.btn:focus {
	cursor: pointer;
	background-color: #D89F31;
}


/* FOOTER */


footer { 
	background-color: #AAA; 
	color: #fff; 
	padding: 0.5em;
}
#footer-container {
	width: 100%;
	max-width: 1140px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#footer-container small {
	max-width: 50vw;
}
.footer-social-logo {
	margin: 0 0 0 0.3em;
}


/* MOBILE */

	#nav-menu-mobile-icon { display: none; }

@media 
	(-webkit-min-device-pixel-ratio: 1.25), 
	(min-resolution: 120dpi),
	(max-width: 775px) 
	{
		body { font-size: calc(20px + 0.2vw + 2vh); }
		nav { justify-content: space-between; }
		section, section#banner { max-width: none; }
		#logo-img { display: none; }
		#nav-menu-list { 
			display: none;
		}
		#nav-menu ul {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			flex-wrap: wrap;
			position: fixed;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			margin: 0;
			padding: 0;
			background-color: #ccc;
		}
		#nav-menu-mobile-icon { 
			display: block;
		}
		.nav-item {
			margin: 1em 1em;
		}
		.project-subsection-img,
		.project-subsection-description {
			width: 100%;
		}
		.project-subsection-description {
			/*margin: 1em 0;*/
		}
}
